<table>
    <tbody>

{{#each .}}
    <tr>
        <td><a href="{{subject_link}}">{{subject_description}}</a></td>
        <td>[ <a href="{{time_link}}" title="{{date_read}}">{{date_str}}</a> ]</td>


    </tr>
{{/each}}
    </tbody>
</table>