<ul class="breadcrumb">
  <li>Journal</li>
</ul>


<div class="journal_header">
    <a class="left" href="#/journal/year/{{prev_year}}">&#9668;</a>
    <a class="right" href="#/journal/year/{{next_year}}">&#9658;</a>
    <h2>{{display_year}}</h2>

</div>

<div id="cal-heatmap"></div>

<ul class="journal_rows">
{{#each rows}}
    <li><a href="#/journal/{{key}}">{{key}}</a></li>
{{/each}}
</li>

