<ol>
{{#each this}}

         <li class="entry">
             {{#if icon_class}}
                <div class="{{icon_class}} service-icon"></div>
             {{/if}}

             {{{html}}}

             <span class="date">[ <a href="{{link_date}}">{{ref_date}}</a> ]</span>


             <button class="btn btn-mini cite" data-text="{{textDesc}}" data-index="{{index}}" data-href="{{href}}">Cite</button>
         </li>

{{/each}}
</ol>